[submodule "lib/messageAPI"]
	path = lib/messageAPI
	url = https://github.com/NateTHEgreatest33/messageAPI.git
[submodule "lib/LoRa"]
	path = lib/LoRa
	url = https://github.com/NateTHEgreatest33/LoRa.git
[submodule "lib/button"]
	path = lib/button
	url = https://github.com/NateTHEgreatest33/button_component.git
[submodule "lib/console"]
	path = lib/console
	url = https://github.com/NateTHEgreatest33/console_api.git
