[submodule "messageAPI"]
	path = messageAPI
	url = https://NateTHEgreatest33@github.com/NateTHEgreatest33/messageAPI.git
[submodule "tivaware"]
	path = tivaware
	url = https://NateTHEgreatest33@github.com/NateTHEgreatest33/Tivaware.git
